@model Loan

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Create">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Issue a DVD on Loan</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="LoanTypeNumber"></label>
			@Html.DropDownList("LoanTypeNumber", new List<SelectListItem>

                 {
                    new SelectListItem{ Text="1-day", Value = "0" },
                    new SelectListItem{ Text="3-day", Value = "1" },
					new SelectListItem{ Text="5-day", Value = "2" }
                 },"Select Loan Type",new {@class = "form-control"})
			<span asp-validation-for="LoanTypeNumber" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="CopyNumber"></label>
			<!-- <input asp-for="CopyNumber" class="form-control"/> -->
			<!-- <span asp-validation-for="CopyNumber" class="text-danger"></span> -->
			@Html.DropDownList("CopyNumber", ViewBag.dvdTitles as SelectList, "Select DVD", new {@class = "form-control"})
		</div>
		<div class="mb-3">
			<label asp-for="MemberNumber"></label>
			<!-- <input asp-for="MemberNumber" class="form-control"/> -->
			<!-- <span asp-validation-for="MemberNumber" class="text-danger"></span> -->
			@Html.DropDownList("MemberNumber", ViewBag.memberName as SelectList, "Select Member First name", new {@class = "form-control"})
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Submit</button>
		<a asp-controller="DVDTitle" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>
