@model IEnumerable<Producer>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Producers</h2>
<a asp-controller="Producer" asp-action="Create">Add Producer</a>
<table class="table">
    <thead>
        <tr>
            <th>
               Producer Number
            </th>
            <th>
               Producer Name
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ProducerNumber
            </td>
            <td>
                @item.ProducerName
            </td>
        </tr>}
    </tbody>
</table>
<a asp-controller="DVDTitle" asp-action="Index" class="btn btn-primary">Back to Add a DVD</a>