@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: var(--bs-primary);
  overflow-x: hidden;
  padding-top: 65px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: var(--bs-white);
  display: block;
}

.sidenav a:hover {
  background-color: var(--bs-white);
  color: var(--bs-primary);
  cursor: pointer;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */  
}


</style>
</head>
<body>

<div class="sidenav">
  <a class="first_link" asp-controller="Actor" asp-action="ActorList_01">1. Titles of all DVDs stocked by the shop (Both on shelves and on Loan)</a>
  <a asp-controller="Actor" asp-action="ActorList_02">2. Titles of all DVDs available in Shop</a>
  <a asp-controller="Member" asp-action="MemberList_03">3. All Member's activities in last 31 days</a>
  <a asp-controller="DVDTitle" asp-action="DVDTitleList_04">4. Producer, Studio and Cast List of all DVDs</a>
  <a asp-controller="Loan" asp-action="LoanList_05">5. Copy Number and Loan details for the copy</a>
  <a asp-controller="Loan" asp-action="IssueIndex">6. Issue a DVD Copy</a>
  <a asp-controller="Loan" asp-action="Index">7. Return a DVD Copy</a>
  <a asp-controller="Member" asp-action="MemberList_08">8. List of Members and their status</a>
  <a asp-controller="DVDTitle" asp-action="Index">9. Enter new DVD</a>
  <a asp-controller="DVDCopy" asp-action="DVDCopyList_10">10. Remove old DVDs</a>
  <a asp-controller="Loan" asp-action="LoanList_11">11. DVDs on Loan</a>
  <a asp-controller="Loan" asp-action="LoanList_12">12. Inactive Members</a>
  <a asp-controller="Loan" asp-action="LoanList_13">13. Inactive DVD Titles</a>
  <a>14. Inactive DVD Titles</a>
</div>

<div class="main">
  
</div>
   
</body>
</html> 


