@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: var(--bs-primary);
  overflow-x: hidden;
  padding-top: 65px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: var(--bs-white);
  display: block;
}

.sidenav a:hover {
  background-color: var(--bs-white);
  color: var(--bs-primary);
  cursor: pointer;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */  
}


</style>
</head>
<body>

<div class="sidenav">
  <a class="first_link" asp-controller="Actor" asp-action="ActorList_01">1. Titles of all DVDs stocked by the shop (by actor)</a>
  <a asp-controller="Actor" asp-action="ActorList_02">2. Titles of all DVDs copies on the shelves (by actor)</a>
</div>

<div class="main">
  <h2>Sidebar</h2>
  <p>This sidebar is of full height (100%) and always shown.</p>
  <p>Scroll down the page to see the result.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
</div>
   
</body>
</html> 


