@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: var(--bs-primary);
  overflow-x: hidden;
  padding-top: 65px;
}


.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: var(--bs-white);
  display: block;
}

.sidenav a:hover {
  background-color: var(--bs-white);
  color: var(--bs-primary);
  cursor: pointer;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */  
}


</style>
</head>
<body>

<div class="sidenav">
  <a class="first_link" asp-controller="Actor" asp-action="ActorList_01">1. Titles of all DVDs stocked by the shop (by actor)</a>
  <a asp-controller="Actor" asp-action="ActorList_02">2. Titles of all DVDs copies on the shelves (by actor)</a>
</div>

<div class="main">
  
</div>
   
</body>
</html> 


